
h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 70px;
}


.heading {
    position: absolute;
    top: 200px;
    left: 50px;
    margin-left: 20px;
}

.style-par {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .bg-image {
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.3),rgba(0,0,0,1))
} */